$black: #1e1e1e;
$white: #FFF;
$yellow: #ffe600;
$grey: #edf2f6;

$defaultContainer: 1170px;

$xs-max: 450px;
$sm-max: 577px;
$md-max: 769px;
$lg-max: 993px;
$xl-max: 1200px;

$xs-min: 448px;
$sm-min: 575px;
$md-min: 767px;
$lg-min: 991px;
$xl-min: 1198px;

$h1: 60px;
$h2: 48px;
$h3: 32px;
$h4: 24px;
$h5: 24px;
$h6: 24px;

$p: 14px;