
.page_section {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 0;
}

.section_inner {
	width: 100%;
}

.section_head {
	text-align: center;
}

.section_title {
	margin: 0 auto 50px;
}